/* Basic Reset */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(
    180deg,
    hsl(240deg 100% 20%) 0%,
    hsl(270deg 100% 21%) 18%,
    hsl(286deg 100% 21%) 26%,
    hsl(301deg 100% 21%) 33%,
    hsl(313deg 100% 26%) 39%,
    hsl(322deg 100% 30%) 44%,
    hsl(329deg 100% 35%) 50%,
    hsl(335deg 100% 38%) 56%,
    hsl(339deg 100% 42%) 61%,
    hsl(344deg 100% 44%) 67%,
    hsl(348deg 100% 47%) 74%,
    hsl(352deg 100% 49%) 82%,
    hsl(0deg 100% 50%) 100%
  );
  color: white;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  padding: 20px 0 20px 0;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar ul li span {
  font-size: 18px;
}
.sidebar li:hover {
  color: #007bff;
  background-color: white;
}

/* Main content */
.main-content {
  flex: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.main-content.sidebar-visible {
  margin-left: 250px;
}

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



.menu-btn {
  font-size: 24px;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.toggle-btn {
  font-size: 14px;
  background-color: #299cdb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  gap: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* ---topbar */
.topbox {
  display: flex;
  gap: 100px;
  align-items: center;
}
.socialIcons {
  display: flex;
  gap: 20px;
}
.top-header .topbox .activeBox,
.top-header .topbox .timeBox {
  padding: 10px 30px;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  white-space: nowrap;
  position: relative;
}
.top-header .topbox .activeBox::before {
  content: " ";
  height: 8px;
  width: 8px;
  background-color: green;
  position: absolute;
  border-radius: 50%;
  top: -2px;
  right: -4px;
}

.socialIcons .icons {
  height: 50px;
  width: 50px;
  background-color: blanchedalmond;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.socialIcons > *:not(:last-child)::before {
  content: " ";
  height: 8px;
  width: 8px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  right: 4px;
}
.userBox {
  display: flex;
  align-items: center;
  gap: 5px;
}
/* ---topbar */
/* Content Area */
.content {
  padding: 20px;
}

.leftBox img {
  height: 100px;
  margin-left: 40px;
}
/* Responsive Behavior */
@media screen and (max-width: 768px) {
  .main-content.sidebar-visible {
    margin-left: 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    /* height: 100vh; */
  }

  .sidebar.closed {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
  .header {
    flex-direction: row-reverse;
  }
  .leftBox img {
    height: 200px;
    margin-left: 40px;
  }
  .sidebar ul li {
    font-size: 20px;
    padding: 20px 20px 20px 50px;
    gap: 15px;
  }
  .sidebar ul span {
    font-size: 20px !important;
  }
  .header {
    flex-direction: column;
  }
  .toggle-btn {
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 20px;
  }
}

@media (max-width: 768px) and (min-width: 608px) {
  .leftBox ul {
    overflow-y: auto;
    display: block;
    white-space: nowrap;
    height: 490px;
    /* background-color: black; */
  }

  .leftBox ul::-webkit-scrollbar {
    width: 8px;
  }

  .leftBox ul::-webkit-scrollbar-track {
    background: transparent;
  }

  .leftBox ul::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .leftBox ul::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}
