/* Basic Reset */
body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  /* display: flex; */
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100%;
  overflow-y: auto;
  transition: transform 0.3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-image: linear-gradient(
    180deg,
    hsl(240deg 100% 20%) 0%,
    hsl(270deg 100% 21%) 18%,
    hsl(286deg 100% 21%) 26%,
    hsl(301deg 100% 21%) 33%,
    hsl(313deg 100% 26%) 39%,
    hsl(322deg 100% 30%) 44%,
    hsl(329deg 100% 35%) 50%,
    hsl(335deg 100% 38%) 56%,
    hsl(339deg 100% 42%) 61%,
    hsl(344deg 100% 44%) 67%,
    hsl(348deg 100% 47%) 74%,
    hsl(352deg 100% 49%) 82%,
    hsl(0deg 100% 50%) 100%
  );
  color: white;
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-content {
  padding: 20px 0 20px 0;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar ul li span {
  font-size: 18px;
}
.sidebar li:hover {
  color: #007bff;
  background-color: white;
}

/* Main content */
.main-content {
  flex: 1;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

.main-content.sidebar-visible {
  margin-left: 250px;
}

/* Header */
.header {
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 25px #38414a26;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 99;
}

.menu-btn {
  font-size: 24px;
  margin-right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}
.toggle-btn {
  font-size: 14px;
  background-color: #299cdb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  gap: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* ---topbar */
.topbox {
  display: flex;
  gap: 100px;
  align-items: center;
}
.socialIcons {
  display: flex;
  gap: 20px;
}
.top-header .topbox .activeBox,
.top-header .topbox .timeBox {
  padding: 10px 30px;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  white-space: nowrap;
  position: relative;
}
.top-header .topbox .activeBox::before {
  content: " ";
  height: 8px;
  width: 8px;
  background-color: green;
  position: absolute;
  border-radius: 50%;
  top: -2px;
  right: -4px;
}

.socialIcons .icons {
  height: 50px;
  width: 50px;
  background-color: blanchedalmond;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.socialIcons > *:not(:last-child)::before {
  content: " ";
  height: 8px;
  width: 8px;
  background-color: red;
  position: absolute;
  border-radius: 50%;
  top: 3px;
  right: 4px;
}
.userBox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header .topbox .activeBox,
.header .topbox .timeBox {
  padding: 10px 10px;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  display: flex;
  align-items: center;
  height: 40px;
  white-space: nowrap;
  position: relative;
}

.header .topbox .activeBox::before {
  content: " ";
  height: 8px;
  width: 8px;
  background-color: green;
  position: absolute;
  border-radius: 50%;
  top: -2px;
  right: -4px;
}
/* ---topbar */
/* Content Area */
.content {
  padding: 30px;
}

.leftBox img {
  height: 100px;
  margin-left: 40px;
}

.content h2 {
  margin-bottom: 20px;
  border-bottom: 2px solid blue;
  width: 10%;
  position: absolute;
}

.leadBox {
  display: flex;
  border: 1px solid none;
  gap: 30px;
  /* box-shadow:  0 10px 25px #38414a26; */
  position: relative;
}
.leadNavs {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 10px 20px;
  border-bottom: 1px solid lightgrey;
}
.leadNavs div:first-child {
  border-bottom: 2px solid blue;
}
.leadBox .firstBox {
  width: 70%;
  margin: 75px 0 0;
}
.leadBox .firstBox,
.leadBox .secondBox {
  /* background-color: aqua; */
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
  /* padding: 20px; */
  border-radius: 4px;
}
.secondBox {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.secondBox .head {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.secondBox .nums {
  font-size: 20px;
}
.navContent {
  padding: 20px;
}

/* --------table------------ */

.tableNavContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.tableNavContainer .leftTableNav,
.tableNavContainer .rightTableNav {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}
.leftTableNav > *:nth-child(n + 2) {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid #abb0ba;
  border-radius: 4px;
}
.rightTableNav > *:nth-child(n + 2) {
  background-color: white;
  padding: 10px 20px;
  border: 1px solid blue;
  color: blue;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.rightTableNav div:first-child {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.tableBodyBox {
  margin-top: 25px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  overflow-x: auto;
}
.tableFilters {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 5px 10px;
}
.tableFilters .leftBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tableFilters .rightBox {
  display: flex;
  gap: 10px;
}
.tableFilters .rightBox {
  padding: 10px 20px;
  background-color: #a9eaff;
}
.tableFilters .rightBox input {
  border: none;
  background-color: #a9eaff;
  margin-left: 5px;
}
.tableFilters .rightBox input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.tableFilters .rightBox div:last-child {
  border-left: 1px solid #abb0ba;
}
.rightBox div {
  display: flex;
  align-items: center;
}
.rightBox div:first-child span {
  display: inline-flex;
  margin-left: 5px;
}
.rightBox div:last-child span {
  margin-left: 5px;
}
.dataTable {
  width: 100%;
}
.dataTable,
th,
td {
  /* border: 1px solid black; */
  border-collapse: collapse;
}
.dataTable tr th,
.dataTable tr td {
  padding: 10px;
  white-space: nowrap;
}
.dataTable tr th {
  background-color: blue;
  color: white;
  text-align: left;
}
.dataTable tr {
  border-bottom: 1px solid #ddd;
}
.dataTable .statusBox {
  display: flex;
  gap: 5px;
}
.dataTable .statusBox div {
  border: 2px solid lightgreen;
  padding: 5px 5px;
  border-radius: 20px;
  color: lightgreen;
  font-size: 14px;
}
/* --------table------------ */
/* Responsive Behavior */
@media screen and (max-width: 768px) {
  .main-content.sidebar-visible {
    margin-left: 0;
  }

  .sidebar {
    position: fixed;
    top: 0;
    /* height: 100vh; */
  }

  .sidebar.closed {
    transform: translateX(-101%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
  /* .header {
    flex-direction: row-reverse;
  } */
  .leftBox img {
    height: 200px;
    margin-left: 28px;
  }
  .sidebar ul li {
    font-size: 20px;
    padding: 20px 20px 20px 50px;
    gap: 15px;
  }
  .sidebar ul span {
    font-size: 20px !important;
  }
  .header {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .toggle-btn {
    margin-bottom: 8px;
    margin-left: auto;
    font-size: 16px;
    padding: 6px;
  }
  .topbox {
    gap: 16px;
    font-size: 14px;
  }
  .header .topbox .activeBox,
  .header .topbox .timeBox {
    padding: 5px 8px;
    height: auto;
  }
  .socialIcons {
    gap: 15px;
  }
  .socialIcons .icons {
    height: 30px;
    width: 30px;
  }
  .socialIcons > *:not(:last-child)::before {
    top: 0;
    right: 0;
  }
  .content-body h2 {
    display: none;
  }
  .leadBox {
    flex-direction: column;
    gap: 20px;
  }
  .leadBox .firstBox {
    margin-top: 0;
    width: 100%;
  }
  .leadBox .secondBox {
    margin-bottom: 0;
    width: 100%;
    padding: 10px;
    font-size: 30px;
  }

  .content h2 {
    display: none;
  }
  .content {
    padding: 20px;
  }

  .leftTableNav {
    margin-bottom: 15px;
  }
  .tableNavContainer .leftTableNav,
  .tableNavContainer .rightTableNav {
    justify-content: center;
    font-size: 14px;
  }
  .leftTableNav > *:nth-child(n + 2),
  .rightTableNav > *:nth-child(n + 2),
  .rightTableNav div:first-child {
    padding: 5px 10px;
    white-space: nowrap;
  }
  .tableBodyBox {
    margin-top: 40px;
  }
  .dataTable,
  th,
  td {
    font-size: 13px;
  }
  .dataTable .statusBox div {
    padding: 3px 3px;
    font-size: 12px;
  }
  .tableFilters .leftBox {
    margin-right: 8px;
    gap: 6px;
    font-size: 12px;
  }
  .tableFilters .rightBox {
    font-size: 13px;
  }
}
@media screen and (min-width: 879px) {
  .header .topbox .activeBox,
  .header .topbox .timeBox {
    padding: 10px 30px;
  }
}

@media (max-width: 768px) and (min-width: 608px) {
  .leftBox ul {
    overflow-y: auto;
    display: block;
    white-space: nowrap;
    height: 490px;
    /* background-color: black; */
  }

  .leftBox ul::-webkit-scrollbar {
    width: 8px;
  }

  .leftBox ul::-webkit-scrollbar-track {
    background: transparent;
  }

  .leftBox ul::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .leftBox ul::-webkit-scrollbar-thumb:hover {
    background-color: #ccc;
  }
}

@media (max-width: 1100px) {
  .tableNavContainer {
    flex-direction: column;
    margin-top: 30px;
    align-items: center;
  }
  .leftTableNav {
    margin-bottom: 15px;
  }
  .topbox {
    gap: 15px;
    justify-content: space-between;
    width: 100%;
  }
  .leadNavs {
    padding: 10px;
    justify-content: start;
    flex-wrap: wrap;
  }
  .leadNavs div {
    font-size: 15px;
    margin: 0 10px 10px 10px;
  }
}
@media (min-width: 768px) {
  .toggle-btn {
    margin-right: 5px;
  }
}
